html {
  height: 100%;
  width: 100%;
}

#blogtitle {
  padding-top:1em;
  color:firebrick;
}

img{
  padding-left:10px;
}

.focusRow{
  float:left;
  clear:left;
}
.focusRow p {
  min-height:100px;
}
