html {
  height: 100%;
  width: 100%;
}

Body{
Margin:auto; 
Width:1200px;
Border:0.5px solid black;
padding:100px;
color:#221E1D;
}

 th {
  vertical-align:top;
} 
th, td {
  padding-top: 25px;
  text-align:left;
}

ul{
  margin-top:5px;
}
#blogtitle {
  padding-top:1em;
  color:#566e9f;
}
.reply {
   margin-left:50px!important;
 } 
img{
  padding-left:10px;
}
h3 img{
  padding:0 10px;
}
