html{
  font-family:Arial, Helvetica, sans-serif;
  height:100%;
  width:100%;
  color:#000000;
  background-color:#ffffff;
  padding:0 20px;
  }
}
.gap{
  font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-size:60px;
  font-weight:normal;
}
#blogtitle, #blogcomments {
  padding-top:1em;
  color:white;
  background-color:#272626;
}
a{
  color:#5a90bf
  font-family:Arial, Helvetica, sans-serif;
}

.lede{
  font-size:larger;
  font-weight:300;
  letter-spacing: .3px;
  word-spacing: .8px;
  font-family:Arial, Helvetica, sans-serif;
  padding:25px;
  
}
div3{
  color:#040415
}
div4{
  color:#0e150e
}
div5{
  color:#32211a
}
p{
  font-family:Arial, Helvetica, sans-serif;
}
div12{
  text-shadow: .55px .55px .4px #726969;
}
@import url("https://fonts.googleapis.com/css?family=Raleway:900&display=swap");
