html {
  height: 100%;
  width: 100%;
}

#blogtitle, #blogcomments {
  padding-top:1em;
  color:firebrick;
}

li img{
  padding-left:10px;
  margin-bottom:10px;
  float:right;
}

li {
  border-top:2px solid #ccc;
  padding-top:20px;
  clear:right;
}

.reply {
   margin-left:50px!important;
 } 