html {
  height: 100%;
  width: 100%;
}

body{
  width:770px;
  margin:auto;
  border:3px solid grey;
  padding: 50px;
  background-color: #EEEEEE;
}

h1 {
  color:purple;
}
h2 {
  color: indianred;
}
.reply {
   margin-left:50px!important;
 } 
#blogtitle, #blogcomments {
  padding-top:1em;
  color:firebrick;
}
